.tituloPara{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif,; 
    font-weight: 400;   
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
}
.feitosPara{
    color:#3c8dbc ;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
    
